{% extends "base.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
              <div class="notification notification--error">
                <div class="notification__content">
                  <div class="notification__type">Let op!</div>
                  <h2 class="notification__title">Dit is geen echt E-herkenning formulier</h2>
                  <span>Dit formulier is uitsluitend bedoeld voor test doeleinden en zet geen bestaande persoons/bedrijfs gegevens door</span>
                </div>
              </div>
            <div class="content-background">
            	<div class="content">
            		<h2>Kies een persona & bedrijf</h2>
                    <form action="{{ responceUrl }}" method="post">
                        <div class="input">
                            <label class="input__label" for="color">Persoon</label>
                            <select id="bsn" name="bsn" class="input__control input__control--m input__control--select ">
                                {% for persoon in people %}
								<option value="{{ persoon.burgerservicenummer  }}">{{ persoon.naam.voornamen }} {{ persoon.naam.geslachtsnaam }}</option>
								{% endfor %}
                            </select>
                        </div>
                        <div class="input">
                            <label class="input__label" for="color">Bedrijf</label>
                            <select id="kvk" name="kvk" class="input__control input__control--m input__control--select ">
                                {% for bedrijf in kvk %}
{#                                    {% if bedrijf.isMainBranch == 'true' %}#}
                                    <option value="{{ bedrijf.id }}">
                                        {% if bedrijf.tradeNames.businessName is defined and bedrijf.tradeNames.businessName is not empty %}
                                            {{ bedrijf.tradeNames.businessName }}
                                        {% elseif bedrijf.tradeNames.shortBusinessName is defined and bedrijf.tradeNames.shortBusinessName is not empty %}
                                            {{ bedrijf.tradeNames.shortBusinessName }}
                                        {% elseif bedrijf.tradeNames.currentTradeNames[0] is defined and bedrijf.tradeNames.currentTradeNames[0] is not empty %}
                                            {{ bedrijf.tradeNames.currentTradeNames[0] }}
                                        {% endif %}
                                    </option>
{#                                    {% endif %}#}
                                {% endfor %}
                            </select>
                        </div>
						<input type="hidden" name="responce_url" value="{{ responceUrl }}">
						<input type="hidden" name="token" value="{{ token }}">
                        {% if backUrl is defined and backUrl is not empty %}
                            <input type="hidden" name="back_url" value="{{ backUrl }}">
                        {% endif %}
                        <button class="btn" type="submit">Inloggen</button>
                   </form>
                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
        <div class="col-md-4">
            <div class="content-background" >
            	<div class="content">
            		<h2>Over dit formlier:</h2>
					<p>Dit formulier biedt persona aan uit een mock-BRP en een bedrijf uit een mock-KVK om mee in te loggen, na de inlog wordt een BSN en KVK nummer teruggegeven aan de aanvragende Applicatie.</p>
					<p>Op deze manier is het mogelijk een E-herkenning te “spoofen” voor ontwikkeldoeleinden, zonder een Logius-certificering aan te vragen.</p>
					<p>Dit component is zowel (open source) beschikbaar als GIT-repository, en als Docker-container, voorzien van Helm Charts voor Kubernetes.</p>
                    <p>De bedrijven worden opgehaald uit het test API van KVK. <a href="https://developers.kvk.nl/images/KVK_APIs_Manual_test_v1.1.pdf">Hier</a> kunt u meer lezen over het KVK api en
                        <a href="https://developers.kvk.nl/images/KVK_APIs_Manual_test_v1.1.pdf">hier</a> is de documentatie van het test API.  </p>
					<p>Bij het inrichten van een component kan worden aangegeven welk mock-BRP moet worden gebruikt. Dat kan zowel een ander component op de Kubernetes-cluster, als een externe service zijn.</p>
                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
	</div><!-- /.row -->
{% endblock %}
